#lowertwo{
margin-top: 2%;
}
#personal{
margin-left: 5%;
margin-right: 5%;
}
#organisational{
margin-left: 4%;
}
#details{
    margin-left: 5%;
    margin-right: 3%;
    font-family: 'Times New Roman', Times, serif;
    font-weight:bolder;
    font-size: large;
    
}

#picture{
    margin-left: 5%;

}
#hi{
    margin-left: 2%;
    margin-right: 5%;
}
#footer{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight:bolder;
    font-size: large;
}
.next_button{
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
}
.prev_button{
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
}